/* #darkMode {
  background: transparent url("../moon.png") no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black;
}
:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --image: url("../day.jpg");
}
body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  --image: url("../night.jpg");
}
body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
#image {
  width: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
}
nav {
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-color);
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--background-color);
} */
#darkMode {
  background: transparent url("./moon.png") no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  outline: 0;
  background-color: transparent !important;
  filter: grayscale(1) !important;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black !important;
}
body.light {
  background-color: white;
  color: #3c4b64;
}

body.dark {
  background-color: #061724;
  color: white;
}
.c-body.darkbg {
  background-color: #061724;
  color: white;
  /* background-image: url("./night.jpg"); */
}
.c-body.lightbg {
  background-color: #ebedef;
  color: #3c4b64;
  /* background-image: url("./day.jpg"); */
}
.chgdiv.darkbg,
.chgdiv2.darkbg,
.card-header.darkbg,
.card-body.darkbg {
  background-color: #0c2233;
}
.chgdiv.lightbg,
.chgdiv2.lightbg,
.card-header.lightbg,
.card-body.lightbg {
  background-color: #fff;
}
.c-subheader {
  display: none;
}
.sidebar_icon {
  margin-right: 19px;
  margin-left: 3px;
}
.switch img {
  border-radius: 100%;
  background: white;
}
